       


       body{
        background-image: url("https://i.gifer.com/origin/0c/0cbecdf49afea239fad8497f3cd6e7c7_w200.gif");
        margin-top: 100px;
        font-family: 'Poppins', sans-serif;
    }
    #movie{
        width:50%;
        margin-left:220px;
        border-radius: 15px;
        height:auto;
      
       background-color: rgb(71, 70, 70);
    }
    #movie>div{
        margin:20px 50px 10px 50px;
       display:flex;
       justify-content: space-around;
      
    }
    h1{
        width:30%;
       color:darkorange;
       margin-left:400px;
       line-height: 5px;
      font-style: italic;
      font-size:100px;
      text-decoration-line: overline;
        
        }
    input{
        width:50%;
        font-size: 30px;
        margin-left:220px;
        border-radius: 15px;
        background-color: rgb(73, 71, 71);
        color:white;
        border:0px;
        height:60px;
        /* margin-top: 50px; */
    }
    