

   body{
    background-image: url("https://thumbs.gfycat.com/ActualPresentAntipodesgreenparakeet-max-1mb.gif");
    font-family: 'Poppins', sans-serif;
    margin-top: 100PX;
  }
  h1{
    width:30%;
       color:darkorange;
       margin-left:400px;
       line-height: 5px;
      font-style: italic;
      font-size:100px;
      text-decoration-line: overline;
    
  }
  #movies{
    margin-left: 220px;
    width:50%;
    max-height: 300px;
    overflow: auto;
    color:rgb(226, 152, 14);
    background-color: rgb(87, 84, 84);
    border-radius: 15px;
    
  }

    /* color:white; */
    /* overflow: scroll; */
    /* display:grid;
    grid-template-columns: repeat(3,1fr); */
    
     
    
     

   input{
    width:50%;
        font-size: 30px;
        margin-left:220px;
        border-radius: 15px;
        background-color: rgb(73, 71, 71);
        color:white;
        border:0px;
        height:60px;
   }